# Ignore virtual environment directories
venv/
.venv/
.env
__pycache__/

# Ignore results folders but keep the folders themselves
results*/
!results*/.gitkeep

# Ignore contents of examples/rms_results folder but keep the folder itself
examples/rms_results/*
!examples/rms_results/.gitkeep